//Top Pagina
.main-content {
  .heading {
    padding: 5px 0;

    .filter-wrapper {
      max-height: 34px;
      margin-top: 10px;

      .searchbox {
        gap: 10px;
        display: flex;
        flex-direction: row;

        margin-top: 5px;
        align-items: center;

        .form-search {
          border: 0.5px solid var(--primary-color);
          border-radius: 3px;
          display: flex;

          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          gap: 10px;
          font-size: 12px;
          padding: 0px 20px;
          height: 34px;
          width: 100%;
          color: #000;

          .fi {
            font-size: 14px;
            width: 14px;
            height: 14px;
          }

          .search-input {
            min-height: 34px;
            --border-width: 0px;
            --border-color: transparent;
            /*  --padding-top: 7px;
            --padding-end: 25px;
            --padding-bottom: 7px;
            --padding-start: 25px; */


          }

        }

        .search-button {
          height: 24px;
          width: 24px;

          .fi {
            font-size: 24px;
          }
        }
      }


    }
  }

  // Griglia e layout
  .outfit-header-title {
    align-items: center;
    margin: 0;
    padding: 5px;
    margin-left: 0.3rem;
    text-align: start;


    ion-img {
      max-width: 260px;
      object-fit: cover;
    }
  }



  .style-main {
    .filter-outfits {
      --background:transparent;
       border-radius: 0px;
      .stat-btn{
        border-radius: 0;
        &.segment-button-checked{
          --background: transparent;
          --indicator-box-shadow:none;
          --border-width: 0;
          border-bottom: 1px solid #000;
        }
      }
      .stat {
        margin-right: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15.5px
      }
    }


    @media screen and (min-width: 1024px) {
      max-width: 630px;
      margin: 0 auto;
      /* per centrare il contenuto */
    }

    .style-col {
      margin-top: 10px;

      /* height: 495px;
 */
      .outfit-card {

        position: relative;
        /*  height: 495px; */
        box-shadow: none !important;
        border-radius: 0;
        margin: 0;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .outfit-header {
          display: flex;
          justify-content: space-between;
          flex-direction: row;

          height: 24px;

          .outfit-header-wrapper-title {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;

            gap: 8px;

            .outfit-card-avatar {

              width: 24px;
              height: 24px;
            }

            .outfit-card-title {

              font-size: 16px;
              font-weight: 700;
              line-height: 19.5px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

            }

          }

          .outfit-header-wrapper-info {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            display: flex;
            gap: 10px;

            ion-button {
              --border-radius: 0;
              --padding-top: 0;
              --padding-start: 0;
              --padding-end: 0;
              --padding-bottom: 0;
              min-height: 24px;
              font-size: unset;

              .fi {
                font-size: 18px;
              }
            }

          }

        }

        .outfit-center-wrapper {
          .image-container {
            .tag-toggle-button {
              z-index: 1002;
              color: #fff;
            }
          }
        }

        .outfit-bottom-content {
          display: flex;
          flex-direction: column;
          gap: 6px;
          padding-inline-start: 0;
          padding-inline-end: 0;
          padding-top: 0;
          padding-bottom: 0;
          .outfit-bottom-content-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 17px;
            .letf-bottom-content {
              align-self: start;
            }

            .right-bottom-content {
              height: 17px;
            
              display: flex;
              justify-content: center;
              align-items: center;
              .outfit-card-action{
                height: 17px;
                width: 17px;
                min-height: 17px;
                margin-top: 0px;
                margin-bottom: 0px;
                --padding-top: 0px;
                --padding-end: 0px;
                --padding-bottom: 0px;
                --padding-start: 0px;
                .fi {
                  font-size: 15px;
                }
              }
            }
          }
        }


      }
    }
  }

  // Card dell'outfit


}


.col-spinner {
  justify-content: center;
  display: flex;
  align-items: center;
}