<ion-header>
  <ion-toolbar>
    <ion-title>I mie Ourfit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterModal()">Filter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outfit-gallery-container">
    <cdk-virtual-scroll-viewport itemSize="10" class="outfit-virtual-scroll">
      <div class="outfit-masonry-grid" *ngIf="outfits.length>0">
        <div *cdkVirtualFor="let outfit of outfits" class="outfit-masonry-item">
          <ion-card class="outfit-pin-card">
            <app-foto-outfit
            [image]="outfit.imageUrl"
            [enableNewImagecaptured]="false"
            [enableSetTagsImage]="false"
            [tags]="outfit.tags"
            >

            </app-foto-outfit>
            
       
            <ion-card-content>
              <h2 class="outfit-pin-title">{{ outfit.title }}</h2>
              <p class="outfit-pin-description">{{ outfit.description }}</p>
              
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <div *ngIf="outfits.length==0">
        Pippo
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ion-content>

<ion-footer>
  <div class="outfit-bottom-bar">
    <ion-button class="outfit-bar-button">
      <ion-icon name="home"></ion-icon>
    </ion-button>
    <ion-button class="outfit-bar-button outfit-center-button" routerLink="/add-outfit" routerDirection="root">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
    
    <ion-button class="outfit-bar-button">
      <ion-icon name="shirt-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>