<ion-header *ngIf="!showLogin">

  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="showRecupPassword()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="login-wrapper">
  <ng-container *ngIf="showLogin; else recupPassword">


    <div class="login-container">

      <div class="logo-container">
        <img src="assets/images/Logo-bianco.png">
      </div>
      <div class="login-card">
        <div class="login-header-container">
          <div class="title">
            <ion-label>Accedi o Registrati</ion-label>
          </div>
        </div>
        <div class="login-center-container">
          <app-dynamic-form 
            [service]="'loginForm'" 
            [btnFormText]="'Accedi'"
            (submitFormEvent)="submitFormEvent($event)">
          </app-dynamic-form>

          <div class="login-links">
            <span><ion-checkbox labelPlacement="end"  (ionChange)="setStayConnected($event)" >Resta connesso</ion-checkbox></span>
            <span class="link" component="nav-profile recupPassword" (click)="showRecupPassword()">Password
              dimenticata</span>

          </div>

          <div class="register-container">
            <div>
              <div class="register-text">
                <ion-label>Non hai ancora un account?</ion-label>
              </div>


            </div>

            <div>

              <ion-button class="register-button" [routerLink]="'/register'" expand="block">
                <ion-ripple-effect></ion-ripple-effect>
                Registrati
              </ion-button>

            </div>

          </div>
        </div>
        <div class="login-footer-container">

          <div class="footer-copy">
            <ion-label class="footer-label">&copy; 2024 Alessandro Casale</ion-label>
            <ion-label class="footer-label"><u>Terms of Service </u>. <u>Privacy Policy</u> .<u>Content Policy
              </u></ion-label>
          </div>




        </div>
      </div>



    </div>
  </ng-container>




  <ng-template #recupPassword>
    <div class="login-container">

      <div class="logo-container">
        <img src="assets/images/Logo-bianco.png">
      </div>
      <div class="login-card">
        <div class="login-header-container">
          <div class="title">
            <ion-label>Recupera la password</ion-label>
          </div>
        </div>
        <div class="login-center-container">

          <app-dynamic-form [service]="'recuperaPassword'" [btnFormText]="'Recupara'"
            (submitFormEvent)="recuperaPassword($event)">
          </app-dynamic-form>

          
        </div>
      </div>

    </div>

  </ng-template>
</ion-content>