<div #imageContainer class="image-container">
  <!-- Loader che viene mostrato durante il caricamento dell'immagine -->
  <ion-spinner *ngIf="imageLoading" name="crescent"></ion-spinner>

  <img *ngIf="image" #imageElement [src]="image" class="outfit-pin-image" [ngClass]="{'darken': showTag}"
    (click)="addTag($event)" />
  <!-- Tooltip di onboarding -->
  <div class="tooltip" *ngIf="showTooltip()">Tocca la foto per aggiungere tag</div>
  
  <ng-container *ngIf="showTag">
    <div *ngFor="let tag of tags" class="tag" [ngStyle]="tagStyle[tag.id]" (click)="openItmClothing(tag)">
      <ion-card class="price-card">
        <ion-card-content class="price-card-content">
          <div >
            <span class="item-brend">{{ tag.brend }}</span>
            <p class="item-title">{{ tag.name  }}</p>
           

          </div>
         
          <div class="item-price">{{ tag.prezzo | currencyFormat }}</div>
        </ion-card-content>
      </ion-card>

    </div>
  </ng-container>
  <ion-button class="tag-toggle-button" *ngIf="tags.length>0" (click)="toggleTags()" id="toggle-button"
    [ngStyle]="tagToggleButton" fill="clear">
   
    <i class="fi fi-rr-tags"></i>
  </ion-button>
  <ion-button *ngIf="enableNewImagecaptured" expand="full" size="small" class="select-photo" (click)="captureImage()">

    Seleziona foto

  </ion-button>
</div>

