.image-container {

  /* Stile per il contenitore dell'immagine */

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  flex-direction: column;
  //border: 2px solid #ccc;
  /* Colore del contorno quando l'immagine è vuota */
  //border-radius: 8px;
  /* Angoli arrotondati */
  background-color: #424242;
  /* Colore di sfondo per il caso in cui non ci sia un'immagine */
  position: relative;
  /* Per posizionare il messaggio di upload */


  /* Stile per l'immagine stessa */
  img {
    width: 100%;
    max-height: 1350px;
    object-fit: cover;
    border-bottom: 2px solid #e0e0e0;
    /* Assicura che l'immagine si adatti bene senza distorsioni */


    &.darken {
      opacity: 0.5;
    }
  }

  /* Stile per il messaggio di upload */
  &::before {
    content: 'Carica un\'immagine';
    color: #888;
    /* Colore del testo del messaggio di upload */
    font-size: 14px;
    /* Dimensione del testo */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* Assicura che il messaggio non interferisca con gli eventi di clic */
    display: none;
    /* Nascosto di default */
  }

  /* Mostra il messaggio di upload solo se non ci sono immagini */
  &:empty {
    &::before {
      display: block;
    }


  }

  .select-photo {
    --background: rgba(66, 66, 66, 1); // Sfondo semi-trasparente per il pulsante
    --color: #fff; // Colore del testo bianco
  }

  .tooltip {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
  
  .tag {
    position: absolute;
    background: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    transform: translate(-50%, -50%);
  }

  .tag {


    position: absolute;
    display: inline-block;
    z-index: 1001;


    .price-card {

      display: flex;
      width: auto;
      background-color: rgba(255, 255, 255, 0.8);
      transition: background-color 0.3s ease;
      position: relative;
   
      border-radius: 5px;
      font-size: 11px;


      .price-card-content {
        display: flex;
        font-size: 11px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        padding: 8px 10px 8px 10px;

        .item-title {
          max-width: 150px;
          white-space: nowrap;
          /* Evita che il testo vada a capo */
          overflow: hidden;
          /* Nasconde il testo in eccesso */
          text-overflow: ellipsis;
          /* Aggiunge i puntini di sospensione */
          font-weight: bold;
          color: #000;
          font-size: 11px;

          font-size: 11px;
          font-weight: 500;
          line-height: 13.41px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }

        .item-price {

          font-size: 11px;
          font-weight: 500;
          line-height: 13.41px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #000;
        }

        .item-brend {

          font-size: 9px;
          font-weight: 500;
          line-height: 10.97px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--outfit-secondary-color);
        }
      }
    }

  }

}

.tag-toggle-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 1002; // Assicuriamoci che il pulsante sia sopra l'immagine e i tag
  --background: rgba(255, 255, 255, 0.7); // Sfondo semi-trasparente per il pulsante
  --color: #000; // Colore del testo nero
  font-size: 14px;
  width: 24px;
  height: 24px;
  min-height: 24px;
  border-radius: 2px;
  z-index: 1002;
  color: #000000;
  --border-radius: 2px;
  --padding-top: 0px;
  --padding-bottom: 0;
}