<div #imageContainer class="image-container">
  <!-- Loader che viene mostrato durante il caricamento dell'immagine -->
  <ion-spinner *ngIf="imageLoading" name="crescent"></ion-spinner>

  <img *ngIf="image" #imageElement [src]="image" class="outfit-pin-image" [ngClass]="{'darken': showTag}"
    (click)="addTag($event)" />
 
  
  <ng-container *ngIf="showTag">
    <div *ngFor="let tag of tags" class="tag" [ngStyle]="tagStyle[tag.id]" (click)="openItmClothing(tag)">
      <ion-card class="price-card">
        <ion-card-content class="price-card-content">
          <div class="item-title">{{ tag.name }}</div>
          <div class="item-brend">{{tag.brend }}</div>
          <div class="item-price">{{ tag.prezzo | currencyFormat }}</div>
        </ion-card-content>
      </ion-card>

    </div>
  </ng-container>
  <ion-button class="tag-toggle-button" *ngIf="tags.length>0" (click)="toggleTags()" id="toggle-button"
    [ngStyle]="tagToggleButton" fill="clear">
    <ion-icon slot="icon-only" name="pricetags-outline"></ion-icon>
    <!-- {{ showTag ? 'Nascondi Tags' : 'Mostra Tags' }} -->
  </ion-button>
  <ion-button *ngIf="enableNewImagecaptured" expand="full" size="small" class="select-photo" (click)="captureImage()">

    Seleziona foto

  </ion-button>
</div>

