.chips {
    font-size: 11px!important;

    .tag-btn {
        font-size: 11px;
        color: var(--outfit-primary-color);
        margin: 1px 2px;
        padding: 0;
    }
}

.add-outfit-content {
    --padding-bottom: calc(16px + env(safe-area-inset-bottom, 0px));
}
