<div class="banner">
 
  <!-- Filtra per Categoria -->
  <ion-segment value="all" >
    <div class="menu">
      <div (click)="filterCategory()" class="category">
        <ion-chip  (click)="filterCategory()">
          <ion-label class="category-name">Tutte</ion-label>
        </ion-chip>
      </div>
     
      <div *ngFor="let category of categories; let i = index" class="category" >
        <ion-chip  [ngClass]="selectedFilterStyleIndex === i ? 'styleselcted' : ''"  (click)="filterCategory(i, category)" >
          <ion-label class="category-name">{{category.categoryName}}</ion-label>
        </ion-chip>
      </div>
     
    </div>
    
    
  </ion-segment>
</div>

<ion-content  class="ion-padding scroll-y"
>

  <app-products-grid [products]="products" (productsEvent)="saveToWardrobe($event)"></app-products-grid>
</ion-content>

