<!--
  @Input() canGoBack: boolean = false;
  @Input() showLogo: boolean = true;
  @Input() showUserInfo: boolean = false;
  @Input() showTitleText: boolean = false;
  @Input() titleText: string | undefined;
  @Input() showCloseBtn:  boolean = false;
  @Input() showMenuBtn:  boolean = true;
-->
<ng-container *ngIf="showHeader">
  <app-header  [showCloseBtn]="true" [showLogo]="false"  [showTitleText]="true" [titleText]="'Seleziona i prodotti dal nostro store'" [showMenuBtn]="false"></app-header>
</ng-container>



<div class="banner">
 
  <!-- Filtra per Categoria -->
  <ion-segment value="all" >
    <div class="menu">
      <div (click)="filterCategory()" class="category">
        <ion-chip  (click)="filterCategory()">
          <ion-label class="category-name">Tutte</ion-label>
        </ion-chip>
      </div>
     
      <div *ngFor="let category of categories; let i = index" class="category" >
        <ion-chip  [ngClass]="selectedFilterStyleIndex === i ? 'styleselcted' : ''"  (click)="filterCategory(i, category)" >
          <ion-label class="category-name">{{category.categoryName}}</ion-label>
        </ion-chip>
      </div>
     
    </div>
    
    
  </ion-segment>
</div>

<ion-content  class="ion-padding scroll-y"
>

  <app-products-grid [products]="products" (productsEvent)="saveToWardrobe($event)"></app-products-grid>
</ion-content>

