@font-face {
    font-family: 'Neue Helvetica';
    src: url('../assets/fonts/helvetica-neue/helveticaneue.woff2') format('woff2'),
        url('../assets/fonts/helvetica-neue/helveticaneue.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-color: rgb(29, 28, 28);
   
}

body,
html {
    font-family: 'Neue Helvetica', sans-serif !important;
    color: var(--text-color);
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
span,
li,
ul,
ol,
dl,
div,
b,
header,
footer,
section {
    font-family: 'Neue Helvetica', sans-serif;
    color: var(--text-color);
}

.title-default {
    font-family: 'Neue Helvetica', sans-serif;
}

div {
    color: var(--text-color);
}

:host {
    font-family: 'Neue Helvetica', sans-serif;
}

$ion-default-font: 'Neue Helvetica', sans-serif;


// Sovrascrivi la variabile ion-font-family
$ion-font-family: 'Neue Helvetica', sans-serif;
html.ios {
    --ion-default-font: 'Neue Helvetica', sans-serif;
}
:root {
    --outfit-primary-color:#003366;
    --outfit-buttons-color:#424242;
    --outfit-buttons-activated-color:#272727;
    --outfit-padding-size-2:2px
}
.viewport {
    height: 100%;
    width: 100%;
}

ion-button {
    --background:transparent; /* Cambia il colore di sfondo */
    --background-activated:transparent; /* Colore di sfondo quando il pulsante è attivato */
    --background-focused: transparent; /* Colore di sfondo quando il pulsante è focalizzato */
    max-height: 25px;
    border-radius: 4px;
    padding: var(--outfit-padding-size-2);
}

ion-fab-button{
    --background:var(--outfit-buttons-color); /* Cambia il colore di sfondo */
  
}

ion-chip{
    padding: var(--outfit-padding-size-2);
}

.outfit-button{
    background:var(--outfit-buttons-color)
}



.header-background{
    display: none;
 }
.outfit-header-title{
    align-items: center;
    margin: 0;
    padding: 5px;
    margin-left: 0.3rem;
    text-align: start;
    
   
    ion-img{
        max-width: 70px;
    }
}

.outfit-bottom-bar {

   
    background: var(--outfit-primary-color);
    
   
    .outfit-bar-button {
        --background: transparent;
        --color: #ffffff;
        --border-radius: 50%;
        --padding-start: 5px;
        --padding-end: 5px;
        font-size: 18px;
        max-height: 25px;
        min-height: 25px;
    }


    .outfit-bar-button ion-icon {
        font-size: inherit;
    }
}