@import '~@flaticon/flaticon-uicons/css/all/all.css';

ion-card-subtitle {
    color: var(--outfit-primary-text-color);
}

.form-group {
    row-gap: 24px;
    display: flex;
    flex-direction: column;

    
}
.form-footer {
    margin-top: 24px;
}

.textbox,.selectbox {

    ion-item {
        border: none;
    }

    label {

       
        font-weight: 400;
        line-height: 18px!important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        font-family: var(--ion-font-family);

    }

    .native-wrapper {
        border: 0.5px solid var(--input-border-color);
        border-radius: 5px;
        font-size: 16px;
        margin-top: 13px;
        min-height: 47px;
        padding: 10px;
    }

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

.selectbox {
    display: flex;
    flex-direction: column;
    width: 100%;

    .label-wrap {
        label {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px !important;

            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            -webkit-transform: translateY(50%) scale(0.75);
            transform: translateY(50%) scale(0.75);
            max-width: calc(100% / 0.75);
        }
    }

    .native-wrapper {

        padding: 0;
        margin-top: 8px;

        ion-select {
            &::part(container) {
                font-size: 16px;
                min-height: 47px;
                padding: 0 13px;

            }

            &::part(label) {
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;

                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

        }
    }
}

.btn,
.outfit-button {

    --background: #000;
    height: 48px;
    width: 100%;
    border-radius: 5px;
    margin: 0;


}

.profile-header{
    --background:#fff;
    border: none;
    .profile-header-toolbar{
        --background: #fff;
        --border-width: 0!important;
        border: none;
    }
    
}
.main-content {
  
    @media screen and (min-width: 1024px) {
        max-width: 630px;
        margin: 0 auto; /* per centrare il contenuto */
    }
   
    .banner {
        overflow: scroll;
        display: flex;
        flex-direction: row;

        .menu {
            width: 100%;
            display: flex;
            flex-direction: row;

            .card {
                padding-left: 20px;

                .img {
                    max-width: 150px;
                    min-width: 150px;
                    height: 250px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 15px;
                    margin: 10px 0px 10px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: white;

                    .text {
                        background-color: #424242;
                        font-size: 16px;
                        padding: 0.3rem;
                    }

                    .title {
                        font-size: 35px;
                        font-weight: 700px;
                        background-color: #424242;

                    }
                }
            }
        }
    }

    .title {
        display: flex;
        justify-content: space-between;

        ion-label {
            font-size: 22px;
            font-weight: 600;
        }

        .text {
            font-size: 14px;
            color: var(--outfit-primary-text-color);
        }
    }

    .slot {
        ion-chip {
            background-color: white;
            border: 2px solid var(--outfit-primary-text-color);
            border-radius: 8px;
            padding: 5px 8px;
            font-weight: 500;
            font-size: 13px;
        }
    }
}

.style-main {
    padding: 20px 2px;
}

.link{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.64px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

ion-grid {
    padding: 0 10px;
}

ion-row {
    margin: 0;
}

ion-checkbox {
    --size: 11px;

    &::part(container) {
        border-radius: 2px;
        border: 0.5px solid #000000;
    }
}

.bg-white{
    --border-style: solid;
    --background:white;
    color: var(--outfit-btn-text-color);
    --border-color:var(--input-border-color);
}
