<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="handleBackButton()" size="small"><ion-icon slot="icon-only"
          name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/193683350.png">
  <div class="main-content">


    <div class="card">
      <div class="title">
        <ion-label>Inserisci i tuoi dati</ion-label>
      </div>
      <div class="text">
        <ion-label>Registrati e inizia a scoprire il tuo stile ideale</ion-label>
      </div>
      <app-dynamic-form [service]="'registerForm'"
        [btnFormText]="'Registrati'"
       (submitFormEvent)="register($event)">
      </app-dynamic-form>
    </div>
  </div>



  <!--  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cognome</ion-label>
    <ion-input type="text" [(ngModel)]="cognome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Che tipo di utente sei?</ion-label>
    <ion-select [(ngModel)]="userType">
      <ion-select-option value="creator">Creator</ion-select-option>
      <ion-select-option value="user">Base</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="register()">Register</ion-button> -->
</ion-content>