<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cognome</ion-label>
    <ion-input type="text" [(ngModel)]="cognome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Che tipo di utente sei?</ion-label>
    <ion-select [(ngModel)]="userType">
      <ion-select-option value="creator">Creator</ion-select-option>
      <ion-select-option value="user">Base</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="register()">Register</ion-button>
</ion-content>