
<ion-content class="login-wrapper">
 
  <div class="login-container">

    <div class="logo-container">
      <img src="assets/images/Logo-bianco.png">
    </div>
    <div class="login-card">
      <div class="login-header-container">
        <div class="title">
          <ion-label>Inserisci i tuoi dati</ion-label>
          <ion-label class="sub-title">Registrati e inizia a scoprire il tuo stile ideale</ion-label>
        </div>
      </div>
      <div class="login-center-container">
        <app-dynamic-form [service]="'registerForm'"
          [btnFormText]="'Registrati'"
          (functionalCheckBoxEvent)="functionalCheckBox($event)"
          (submitFormEvent)="register($event)"
        >
        </app-dynamic-form>

       

       
      </div>
      <div class="login-footer-container">

        <div class="footer-copy">
          <ion-label class="footer-label">&copy; 2024 Alessandro Casale</ion-label>
          <ion-label class="footer-label"><u>Terms of Service </u>. <u>Privacy Policy</u> .<u>Content Policy
            </u></ion-label>
        </div>




      </div>
    </div>



  </div>


  <!--  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cognome</ion-label>
    <ion-input type="text" [(ngModel)]="cognome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Che tipo di utente sei?</ion-label>
    <ion-select [(ngModel)]="userType">
      <ion-select-option value="creator">Creator</ion-select-option>
      <ion-select-option value="user">Base</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="register()">Register</ion-button> -->
</ion-content>