/* .main-header{
    font-size: 18px;

    .profile-btn{
        --color: var(--outfit-buttons-color);
        
        
     
    }
} */

.logo{
    max-width: 400px;
    object-fit: contain;
}


  
  