//Top Pagina
.main-content {
  .clothes-intro {
    display: flex;
    margin-bottom: 28px;
    flex-direction: column;
    align-items: center;

    .clothes-intro-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 6px;
      margin-top: 0;
      align-items: start;

      .clothes-intro-icon {
        position: relative;
        gap: 6px;
        display: flex;

        .intro-icon-pic {
          border-radius: 50%;
          object-fit: scale-down;
          width: 67px;
          height: 67px;


        }



        .intro-info {
          color: #000;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: flex-start;
          gap: 8px;
          font-size: 10px;
          padding-top: 3px;

          .intro-name {
            text-align: center;
            color: var(--outfitsecondary--color);
            font-size: 14px;
            font-weight: 700;
            line-height: 17.07px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            text-align: center;

          }

          .intro-buttons {
            display: flex;
            gap: 16px;
            color: #000;

            .intro-button {
              color: var(--outfit-btn-text-color);
              border: 0.5px solid var(--outfit-btn-text-color);
              border-radius: 3px;
              font-size: 13px;
              max-height: 38px;
              min-width: 152px;
              display: flex;
              max-width: 170px;
              padding: 10px 5px;
              align-items: center;
              .intro-btn {

                --background: transparent;
                --box-shadow: unset;
                --border-radius: 0;
                --padding-top: 0;
                --padding-bottom: 0;
                --padding-start: 0;
                --padding-end: 0;
                min-height: 38px;
                color: #000;
                margin-inline-start: 0;
                margin-inline-end: 0;
                margin-top: 0;
                margin-bottom: 0;
                min-height: 18px;
                max-height: 18px;

                font-size: 11px;
                font-weight: 400;
                line-height: 13.41px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
              
              

                i {
                  font-size: 18px;
                  margin-right: 8PX;
                }
              }


            }
          }


        }
      }



    }


  }

  .wardrobe-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .wardrobe-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .wardrobe-group-item {
      --min-height: 20px;
      --padding-start: 0;

      .wardrobe-group-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }


    }
  }

}