<ion-content class="ion-padding scroll-y">
  <div class="main-content">
    <div class="clothes-intro">

      <div class="clothes-intro-container">
        <div class="clothes-intro-icon">

          <div class="intro-info">
            <span class="intro-name">Aggiungi articolo nel tuo Armadio</span>

            <div class="intro-buttons">
              <!-- Cerca nei Negozi -->
              <div class="intro-button">
                <ion-button class="intro-btn" (click)="searchClothModal()">
                  <ion-ripple-effect></ion-ripple-effect>
                  <i class="fi fi-rr-shop"></i>Aggiungi da store</ion-button>
              </div>
              <div class="intro-button">
                   <!-- Crea il tuo vestito -->
                <ion-button class="intro-btn" (click)="addClothModal()">
                  <ion-ripple-effect></ion-ripple-effect>
                  <i class="fi fi-rr-plus"></i>Carica nuovo prodotto
                </ion-button>

              </div>
             
            </div>


          </div>
        </div>
      </div>

    </div>

    <ng-container *ngIf="userWardrobes.length===0">

      <ion-text color="medium">Nessun indumento ancora creato/scelto.</ion-text>
    </ng-container>


    <ion-list class="wardrobe-list">

      <!-- Iterazione su tutte le categorie -->
      <div class="wardrobe-group" *ngFor="let wardrobeItem of userWardrobes">
        <ion-item class="wardrobe-group-item" lines="none">
          <ion-text class="wardrobe-group-title">
            <!-- Titolo per ogni categoria -->
            {{ wardrobeItem.wardrobesCategory}}
          </ion-text>
        </ion-item>
        <!--  Griglia dei prodotti -->
        <ng-container>
          <app-products-grid [products]="wardrobeItem.items" [showRemoveBtn]="true" [showSaveBtn]="false"
            (productsEvent)="selectItem($event)"> </app-products-grid>
        </ng-container>
      </div>



    </ion-list>
  </div>