<ion-content>
  <div class="main-content">
    <div class="add-clothes-options">
      <ion-grid>
        <ion-row>

          <!-- Cerca nei Negozi -->
          <ion-col size="4" class="option" (click)="searchClothModal()">
            <div class="updated-label">

              <ion-icon size="large"  name="storefront-outline"></ion-icon>
              <!-- <span class="updated">Aggiornato!</span> -->
            </div>
            <p>Aggiungi da Negozio</p>
          </ion-col>

          <!-- Cerca nella Libreria -->
          <ion-col size="4" class="option" (click)="searchClothModal()">
            <ion-icon size="large" name="globe-outline"></ion-icon>
            <p>Aggiungi per brend</p>
          </ion-col>

          <ion-col size="4" class="option" (click)="addClothModal()">
            <ion-icon size="large" name="add-outline"></ion-icon>
            <p>Aggiungi Prodotto</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


  
  <ion-list>
    <!-- Iterazione su tutte le categorie -->
    <div *ngFor="let wardrobeItem of wardrobesItems()">
      <ion-item lines="none">
        <ion-label>
          <!-- Titolo per ogni categoria -->
          <h1>{{ wardrobeItem.wardrobesCategory}}</h1>
        </ion-label>
      </ion-item>

      <ion-grid>
        <ion-row>
          <!-- Iterazione sugli outfit per la categoria corrente -->
          <ion-col size="6" size-md="3" *ngFor="let item of wardrobeItem.items">
            <ion-card class="item-card">
              <ion-card-content class="center-content">
                
                <!-- Icona o immagine per l'outfit, se disponibile -->
                <ion-icon name="shirt-outline" size="large" *ngIf="item!.images.length==0" ></ion-icon>
                <img *ngIf="item!.images.length>0" [src]="item.images[0]" alt="{{ item.name }}" />

                <!-- Nome dell'outfit -->
                <p>{{ item.name }}</p>
              </ion-card-content>
              <span class="del-item" (click)="deleteItemWadro(item)">
                <ion-icon name="trash-outline"></ion-icon>
              </span>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
</div>