
<ion-header>
  <ion-toolbar>
    <ion-title>Cosa stai cercando?</ion-title>
    <ion-buttons slot="end" >
      <ion-button  fill="clear" (click)="closeFilter()" >
       Chiudi
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  
  
  <ion-card  *ngFor="let  filterItmCloth of filterItmClothing; let  i = index " class="card-filter-cloth">
    <ion-card-header >
      <!-- <ion-card-title>Capo d'abbiagliamento</ion-card-title> -->
      <ion-card-subtitle>Selaziona un capo d'abbigliamento/colore </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="slot">
      
     <ion-chip  class="outfit-button" (click)="openCategory(i)">
        <ion-label class="cloth-label">
          {{filterItmCloth!['outfitSubCategoryName']}} 
          <span class="del-itm-cloth" (click)="delItmCloth($event,i)">
            <ion-icon name="close-circle-outline"></ion-icon>
          </span>
          
        </ion-label>
       
      </ion-chip>

      <ion-chip   class="outfit-button" (click)="openColor(i)">
        <ion-label>
          {{filterItmCloth!['colorName']}} 
          <span  class="del-itm-cloth" (click)="delItmColor($event,i)">
            <ion-icon  name="close-circle-outline"></ion-icon>
          </span>
        </ion-label>
       
      </ion-chip>
    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-card-header >
       <ion-card-subtitle>Seleziona lo stile</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="slot">
      
     <ion-chip   [ngClass]="selectedFilterStyleIndex === i ? 'styleselcted' : ''" *ngFor="let  filterItmStyle of itmStyles; let  i = index "    (click)="selStyle(i,filterItmStyle)">
        <ion-label >
          {{filterItmStyle!['value']}} 
          
        </ion-label>
       
      </ion-chip>

      
    </ion-card-content>
    
  </ion-card>
 
  <ion-card>
    <ion-card-header >
       <ion-card-subtitle>Seleziona la stagione</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="slot">
     <ion-chip  [ngClass]="selectedFilterSeasonIndex === i ? 'styleselcted' : ''" *ngFor="let  filterItmSeason of itmSeasons; let  i = index "  (click)="selSeason(i,filterItmSeason)">
        <ion-label >
          {{filterItmSeason!['value']}} 
          
        </ion-label>
       
      </ion-chip>

      
    </ion-card-content>
    
  </ion-card>
</ion-content>

  <!--Modale categorie-->
  <ion-modal #categories [isOpen]="isModalOpenCat">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Scegli la categoria </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="selectedSubCat()">Chiudi</ion-button>
          </ion-buttons>
        </ion-toolbar>
         <!-- Filtra per Genere UOMO DONNA -->
        <ion-segment value="all" class="banner">
          <div class="menu">
            <div (click)="filterCategory()">
              <ion-segment-button [value]="" (click)="filterCategory()">
                <ion-label>Tutte</ion-label>
              </ion-segment-button>
            </div>
            
            <div *ngFor="let gender of itmGenders" (click)="filterCategory(gender)" >
              <ion-segment-button [value]="gender.id" (click)="filterCategory(gender)">
                <ion-label>{{gender.value}}</ion-label>
              </ion-segment-button>
            </div>
          
          </div>
          
          
        </ion-segment>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid [fixed]="true">
          <ion-row *ngFor="let oufitCategory of oufitCompleteCategories">
            
              <ion-item-divider>
                <ion-label>{{oufitCategory.categoryName}}</ion-label>
              </ion-item-divider>
          
            
            <!-- Verifica se ci sono sub-categorie per la categoria corrente -->
            <ng-container *ngIf="oufitCategory.outfitSubCategories; else noSubCategories">
              <ion-col size="3" *ngFor="let itemSub of oufitCategory.outfitSubCategories" class="sub-categories">
                <div (click)="selectedSubCat(itemSub)">
                  <ion-thumbnail class="thumb-sub-categories">
                    <img [src]="itemSub.imageUrl || '../../../assets/images/sub_categories/generic.jpg'" [alt]="itemSub.categoryName">
                  </ion-thumbnail>
                  <ion-label class="label-categories">{{itemSub.categoryName}}</ion-label>
                </div>
              </ion-col>
            </ng-container>
            
            <!-- Template per mostrare "nessun risultato" per una categoria specifica -->
            <ng-template #noSubCategories>
              <ion-col>
                <p class="no-results">Nessun prodotto.</p>
              </ion-col>
            </ng-template>
          </ion-row>

        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!--Modale colori-->
  <ion-modal 
    #color 
    [isOpen]="isModalOpenColor"
    class="ion-padding"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0.75, 1]"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Scegli la Colore </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="selectedColor()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
       
          <ion-list >
            <ion-item *ngFor="let color of itmColor" (click)="selectedColor(color)">
              <span class="color-hex" [ngStyle]="{'background-color':color.hex}"></span>
              <ion-label>{{color.value}}</ion-label>
              
            </ion-item>
           
              
            </ion-list>
       
      </ion-content>
    </ng-template>
  </ion-modal>
  

