<ion-content [fullscreen]="true" class="ion-padding scroll-y ">
  
  <div class="main-content" >
   <div class="details-wrapper">
    <div class="outfit-detail">

      <app-products-grid [products]="tags" (productsEvent)="saveItem($event)"></app-products-grid>
    </div>
    <div class="products-related">
      <div class="related-title">
        <ion-label class="related-title-text">Potrebbe interessarti</ion-label>
      </div>
      <app-products-grid [products]="relatedProducts" (productsEvent)="saveItem($event)"></app-products-grid>
    </div>
   </div>

    
  <!--   <div class="modal main-content" *ngIf="isOpen">
      <div class="banner">
        <div class="product-grid menu">
          <ion-card class="outfit-card" *ngFor="let product of tags">
            <div (click)="selectItem(product)">
              <ion-img class="product-image" [src]="product.images"></ion-img>

              <ion-card-header class="outfit-card-header">


                <div class="outfit-header-wrapper">
                  <ion-card-subtitle class="outfit-card-subTitle">{{ product.name }}</ion-card-subtitle>


                </div>



              </ion-card-header>
              <ion-card-content class="outfit-card-content product-card-content">
                <ion-card-subtitle class="outfit-price">{{ product.brend }}</ion-card-subtitle>

                <section class="outfit-card-action">
                  <ion-card-subtitle class="outfit-price">{{ product.price | currencyFormat }}</ion-card-subtitle>
                  <ion-button size="small" fill="clear" (click)="buyToStore(product)">
                    <ion-icon name="cart"></ion-icon>
                  </ion-button>
                  <ion-button size="small" fill="clear" (click)="selectItem(product)">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-icon name="save"></ion-icon>
                  </ion-button>

                </section>
              </ion-card-content>
            </div>

          </ion-card>
        </div>
      </div>

      <h2 class="card-subTitle"> Potrebbero interessarti </h2>



      <app-products-grid [products]="relatedProducts" (productsEvent)="saveItem($event)"></app-products-grid>
    </div> -->
  </div>




</ion-content>

<!--
<div class="img-fullscreen ">



    <div class="img-fullscreen-wrapper ">

      <div class="full-screen-image">
        <img [src]="image">
      </div>


    </div>
    
  </div>
<ion-modal [isOpen]="isOpen" [initialBreakpoint]="0.55" [breakpoints]="[0.95]" [backdropDismiss]="false"
      [backdropBreakpoint]="0.95" [backdropBreakpoint]="0.95" (ionBreakpointDidChange)="onBreakpointChange($event)">

    </ion-modal>
-->