<ion-content [fullscreen]="true" class="ion-padding scroll-y">
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="main-content" *ngIf="!isLoading">
    <div class="details-wrapper">
      <div class="outfit-hero" *ngIf="image">
        <ion-img [src]="image"></ion-img>
      </div>

      <div class="outfit-info" *ngIf="outfitComposed">
        <ion-text class="outfit-title" *ngIf="outfitComposed.title">
          {{ outfitComposed.title }}
        </ion-text>

        <div class="outfit-meta" *ngIf="outfitStyle || outfitSeason">
          <ion-chip class="outfit-chip" *ngIf="outfitStyle">
            {{ outfitStyle }}
          </ion-chip>
          <ion-chip class="outfit-chip" *ngIf="outfitSeason">
            {{ outfitSeason }}
          </ion-chip>
        </div>

        <ion-text class="outfit-description" *ngIf="outfitComposed.description">
          {{ outfitComposed.description }}
        </ion-text>

        <div class="outfit-stats" *ngIf="outfitComposed.likes !== undefined || outfitComposed.visits !== undefined">
          <span *ngIf="outfitComposed.likes !== undefined">
            {{ outfitComposed.likes || 0 }} preferiti
          </span>
          <span *ngIf="outfitComposed.visits !== undefined">
            {{ outfitComposed.visits || 0 }} visualizzazioni
          </span>
        </div>
      </div>

      <div class="outfit-detail" *ngIf="tags?.length">
        <div class="section-title">
          <ion-label class="section-title-text">Capi di questo outfit</ion-label>
          <ion-label class="section-count">{{ tags.length }}</ion-label>
        </div>

        <app-products-grid
          [products]="tags"
          [openProductDetail]="true"
          (productsEvent)="saveItem($event)">
        </app-products-grid>
      </div>

      <div class="products-related" *ngIf="relatedProducts.length > 0">
        <div class="section-title">
          <ion-label class="section-title-text">Potrebbero piacerti</ion-label>
        </div>

        <app-products-grid
          [products]="relatedProducts"
          [openProductDetail]="true"
          [horizontalScroll]="true"
          (productsEvent)="saveItem($event)">
        </app-products-grid>
      </div>
    </div>
  </div>
</ion-content>
