<!-- <ion-header class="transparent" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="close-button" (click)="closeModalFullScreen()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header> -->
<ion-content [fullscreen]="true">
  <ion-header class="transparent" [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="closeModalFullScreen()" size="small"><ion-icon slot="icon-only"
            name="close-outline"></ion-icon></ion-button>
      </ion-buttons>


    </ion-toolbar>
  </ion-header>
  <div class="img-fullscreen ">



    <div class="img-fullscreen-wrapper ">

      <div class="full-screen-image">
        <img [src]="image">
      </div>


    </div>
    <ion-modal  
      [isOpen]="isOpen"
      [initialBreakpoint]="0.55" 
      [breakpoints]="[0.95]"
      [backdropDismiss]="false" 
      [backdropBreakpoint]="0.95" 

      [backdropBreakpoint]="0.95"
      (ionBreakpointDidChange)="onBreakpointChange($event)"
      >
      <!-- Griglia dei prodotti correlati-->
      <ion-content class="ion-padding scroll-y" [scrollY]="true">
        <ion-label class="text title">L'outfit è composto da:</ion-label>

        <div class="modal main-content" *ngIf="isOpen">
          <div class="banner">
            <div class="product-grid menu">
              <ion-card class="outfit-card" *ngFor="let product of tags">
                <div (click)="selectItem(product)">
                  <ion-img class="product-image" [src]="product.images"></ion-img>

                  <ion-card-header class="outfit-card-header">


                    <div class="outfit-header-wrapper">
                      <ion-card-subtitle class="outfit-card-subTitle">{{ product.name }}</ion-card-subtitle>


                    </div>



                  </ion-card-header>
                  <ion-card-content class="outfit-card-content product-card-content">
                    <ion-card-subtitle class="outfit-price">{{ product.brend }}</ion-card-subtitle>

                    <section class="outfit-card-action">
                      <ion-card-subtitle class="outfit-price">{{ product.price | currencyFormat }}</ion-card-subtitle>
                      <ion-button size="small" fill="clear" (click)="buyToStore(product)">
                        <ion-icon name="cart"></ion-icon>
                      </ion-button>
                      <ion-button size="small" fill="clear" (click)="selectItem(product)">
                        <ion-ripple-effect></ion-ripple-effect>
                        <ion-icon name="save"></ion-icon>
                      </ion-button>

                    </section>
                  </ion-card-content>
                </div>

              </ion-card>
            </div>
          </div>

          <h2 class="card-subTitle"> Potrebbero interessarti </h2>

          <!-- <div class="product-grid related">
            
            <ion-card class="outfit-card" *ngFor="let rproduct of relatedProducts">

              <ion-img class="related-prodcut-image" [src]="rproduct.imageUrl"></ion-img>

              <ion-card-header class="outfit-card-header">


                <div class="outfit-header-wrapper">
                  <ion-card-subtitle class="outfit-card-subTitle">{{ rproduct.name }}</ion-card-subtitle>


                </div>



              </ion-card-header>
              <ion-card-content class="outfit-card-content product-card-content">
                <ion-card-subtitle class="outfit-price">{{ rproduct.brend }}</ion-card-subtitle>


                <section class="outfit-card-action">
                  <ion-card-subtitle class="outfit-price">{{ rproduct.price | currencyFormat }}</ion-card-subtitle>
                  <ion-button size="small" fill="clear" (click)="buyToStore(rproduct)">
                    <ion-icon name="cart"></ion-icon>
                  </ion-button>
                  <ion-button size="small" fill="clear" (click)="saveItem(rproduct)">
                    <ion-icon name="save"></ion-icon>
                  </ion-button>
                    <ion-button size="small" fill="clear" (click)="selectItem(rproduct)">
                    <ion-icon name="search"></ion-icon>
                  </ion-button> 

                </section>
              </ion-card-content>
            </ion-card>
          </div> -->

          <app-products-grid [products]="relatedProducts" (productsEvent)="saveItem($event)"></app-products-grid>
        </div>
      </ion-content>
    </ion-modal>
  </div>



</ion-content>