<ion-item *ngIf="noCustom" lines="none">
  
  <ion-select 
    [multiple]="selectOptions.multiple"
    [value]="selectedValue"
    [label]="config.label"
    class="selectbox" 
    interface="action-sheet"
    [labelPlacement]="labelPlacement"
    (ionChange)="onValueChange($event)"
    [disabled]="disabled"> <!-- Disabilita la selectbox se necessario -->
    <ion-select-option *ngFor="let option of availableOptions" [value]="option[valueExp]">
      {{ option[displayExp] }}
    </ion-select-option>
  </ion-select>
</ion-item>


<ion-item  *ngIf="!noCustom" (click)="openCustomSelect()" [disabled]="disabled" class="cstomselectbox">
  <ion-label [position]="labelPlacement">{{config.label}}</ion-label>
  
  <ion-text>{{ noCustomOptions.length ? noCustomOptions.join(', ') : "Seleziona un'opzione" }}</ion-text>
</ion-item>