
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-list>
      <ng-container *ngFor="let field of fields">
        <ion-item *ngIf="field.type === 'textBox'">
          
          <ion-input 
            [formControlName]="field.name" 
            class="textbox"
            [type]="!field.typeInput ? 'text' : field.typeInput " [placeholder]="field.placeholder"
            [(ngModel)]="formValues[field.name]"
            [label]="field.label"
            line="none"
            [labelPlacement]="labelplacement"
            (ngModelChange)="onValueChange(field.name, $event)"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="field.type === 'textArea'">
       
          <ion-textarea 
            [formControlName]="field.name" 
            class="textbox"
            [placeholder]="field.placeholder" rows="4" 
            [(ngModel)]="formValues[field.name]"
            [label]="field.label"
            lines="none"
            [labelPlacement]="labelplacement"
            >
          </ion-textarea>
        </ion-item>
       <!--  <ion-item *ngIf="field.type === 'selectBox'">
          <ion-label>{{ field.label }}</ion-label>
          <ion-select [formControlName]="field.name" [placeholder]="field.placeholder">
            <ng-container *ngIf="field.options">
              <ion-select-option *ngFor="let option of field.options" 
              [value]="!option.value ? option:option.value">{{ !option.text ? option : option.text }}

             </ion-select-option> 
            </ng-container> 
            
          </ion-select>
        </ion-item> -->

        <app-dynamic-select-box
          *ngIf="field.type === 'selectBox'"
          [config]="field"
          [labelPlacement]="labelplacement"
          [parentValue]="formValues[field.selectOptions?.parent || '']"
          [value]="formValues[field.name]"
          [values]="field.selectOptions?.multiple ? formValues[field.name] : []"
          (valueChange)="onValueChange(field.name, $event)">
        </app-dynamic-select-box>
      </ng-container>
    
    </ion-list>
    
    <ion-button type="submit"  expand="block"  class="btn outfit-button">{{btnFormText}}</ion-button>
  </form>
