<!-- Griglia dei prodotti -->
<div class="product-grid main-content">
  <ion-card class="product-cards" *ngFor="let product of products" (click)="saveToWardrobe($event,product)">
    <div class="product-card">
      <div class="product-card-header">
        
          <ion-text class="brend-title">{{product.brend}}</ion-text>
        
      </div>
      <div class="product-image">
        <ion-img class="image" [src]="product.imageUrl || product.images"></ion-img>
        <div  class="remove-product" *ngIf="showRemoveBtn">
          <ion-button  class="remove-product-btn" size="small" slot="icon-only"  fill="clear"  (click)="removeProduct(product)">
            <i class="fi fi-rr-cross"></i>
          </ion-button>
        </div>
        
      </div>

      <div class="product-card-content">
        <ion-card-content class="product-info">
          <div class="product-card-category">
            <ion-text class="category-title">{{ getCategoryText(product.outfitSubCategory) }}</ion-text>

          </div>
          <div class="product-wrap-title" [ngStyle]="{ 'flex-direction': !product.price ? 'row' : null }">
            <ion-card-title class="product-title">{{ product.name }}</ion-card-title>

              <div class="product-price-wrapper">
                <ion-card-subtitle class="product-price">{{ product.price | currencyFormat }}</ion-card-subtitle>

                <div class="product-card-action">
                 <ion-button size="small" slot="icon-only"  fill="clear" (click)="buyToStore(product)">
                  <i class="fi fi-rr-shopping-cart"></i>
                 </ion-button>
                 <ion-button size="small" *ngIf="showSaveBtn" slot="icon-only" fill="clear" (click)="saveToWardrobe($event,product)">
                  <i class="fi fi-rr-heart"></i>
                 </ion-button>
     
              </div>
             
            </div>
          </div>


        
        </ion-card-content>
      </div>



    </div>

  </ion-card>
</div> <!-- Pulsante per caricare altri prodotti 
    <ion-button expand="full" (click)="loadMoreProducts()">Carica altri prodotti</ion-button>-->