
  <!-- Griglia dei prodotti -->
  <div class="product-grid">
    <ion-card class="outfit-card" *ngFor="let product of products">

      <ion-img class="" [src]="product.imageUrl"></ion-img>
    
      <ion-card-header class="outfit-card-header">
        
        <div class="outfit-header-wrapper">
          <ion-card-title class="outfit-card-title" >{{ product.name }}</ion-card-title>
          <ion-card-subtitle class="outfit-gender">{{product.brend}}</ion-card-subtitle>
        </div>
       
      </ion-card-header>

      <ion-card-content class="outfit-card-content product-card-content">
        <ion-card-subtitle class="outfit-price">{{ product.price | currencyFormat }}</ion-card-subtitle>
        
        <section class="outfit-card-action">
          <ion-button size="small" fill="clear" (click)="buyToStore(product)">
            <ion-icon name="cart"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" (click)="saveToWardrobe(product)">
            <ion-icon name="save"></ion-icon>
          </ion-button>
  
        </section>
      </ion-card-content>
    </ion-card>
  </div>  <!-- Pulsante per caricare altri prodotti 
    <ion-button expand="full" (click)="loadMoreProducts()">Carica altri prodotti</ion-button>-->